[flake8]
exclude =
    venv,
    env,
    .venv,
    migrations,
    staticfiles,
    __pycache__

max-line-length = 120

ignore =
    W291,W293,W391,W292,
    E302,E303,E301,
    E111,E114,E116,
    E121,E123,E126,E128,
    E225,E203,
    E271,E222,
    E501,W503
