{% extends 'base.html' %} 
{% load static %}
{% block title %}About Us{% endblock %} 
{% block content %} 
<div class="about-container mt-4 animate-fade">
    <h2>About Us</h2>
    <img src="{% static 'images/logo.png' %}" alt="Group Photo" class="about-img mb-3">
    <p>Welcome to Eldoret National Poly CICT Group B Management System.</p>
    <p>This system was developed by passionate student with the help of other students from Group B CICT Department to streamline and improve student data management at Eldoret Polytechnic.</p>
    <p>Our platform helps manage key academic records, including student profiles, attendance, grades,  teachers, performance and more efficiently. It was created to reduce paperwork, improve accuracy and make access to academic data more efficient for both students and lecturers.</p>
    <p>We believe in leveraging technology to support learning and administration. Our goal is to empower institutions with simple, reliable and secured tools tailored for educational success</p>
</div>
{% endblock %}