{% extends 'base.html' %}

{% load form_tags %}
{% block title %}Add Teacher{% endblock %}
{% block content %}
<div class="container mt-3">
  <h2 class="mb-4">Add Teacher</h2>

  {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors.as_ul }}
    </div>
  {% endif %}

  <form method="POST" class="p-4 border rounded bg-light shadow-sm">
    {% csrf_token %}
    
    <div class="mb-3">
      <label class="form-label">First Name</label>
      {{ form.first_name|add_class:"form-control w-50" }}
    </div>

    <div class="mb-3">
      <label class="form-label">Last Name</label>
      {{ form.last_name|add_class:"form-control w-50" }}
    </div>

    <div class="mb-3">
      <label class="form-label">Subject</label>
      {{ form.subject|add_class:"form-control w-50" }}
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      {{ form.email|add_class:"form-control w-50" }}
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock %}
