{% extends 'base.html' %}
{% load static %} 
{% block title %}Contact Us{% endblock %} 
{% block content %} 
<div class="about-container mt-4 animate-fade">
    <h2>Contact Us</h2>
    <p>We're here to help! For any questions, suggestions, or technical support related to the <strong>Eldoret Polytechnic CICT Group B student management System</strong>, please reach out to us through the following channels:</p>
    <p><strong>Email:</strong> <a href="mailto:cictgroupb@eldopoly.ac.ke">cictgroupb@eldopoly.ac.ke</a></p>
    <p><strong>Phone:</strong> +254711546105</p>
    <p><strong>Department:</strong> Information Communication Technology, Eldoret National Polytechnic Town Campus</p>
    <p><strong>Hours:</strong> Monday - Friday, 8:00 AM - 5:00 PM</p>
    <p><strong>Location:</strong> Zion Mall along Uganda Road, Opposite Barngetuny Plaza</p>
    <p>We value your feedback and are always working to improve system experience.</p>
</div>
{% endblock %} 