{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
<div class="colorful-section">
    <div class="columns-wrapper">
        <div class="column">
            <h2><i class="fas fa-eye"></i> Our Mission</h2>
            <p>As members of Eldoret Polytechnic CICT Group B, Our mission is to foster a vibrant, inclusive, and collaborative learning environment that promotes academic excellence, innovation, and personal growth.We are committed to supporting one another through shared knowledge, open communication, and teamwork, as we pursue a deeper understanding of information communication technology. Our class strives to uphold values of discpline, integrity, creativity and mutual respect with the aim of empowering each student to reach their highest potential academically and professionaly. Through practical experience, mentorship, and community engagement, we seek to build a strong foundation for successful careers in the rapidly evolving tech industry.</p>
        </div>
        <div class="column">
            <h2><i class="fas fa-eye"></i> Our Vision</h2>
            <p>Our vision is to be a model class that sets the standard for excellence, unity, and leadership at Eldoret Polytechnic. We aspire to be recognized for our commitment to learning, our spirit of innovation, and our contribution to tha advancement of ICT. We envision a class that not only excels in academic performance but also nurtures the personal development of its members equiping them with the confidence, skills, and values needed to thrive in both local and global tech communities. Ultimately, we aim to create a lasting legacy as a class that empowered its students to become ethical, visionary professionals who make positive impact in the digital world.</p>
        </div>
    </div>
</div>
{% endblock %}